<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timap</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script type="text/javascript" defer>
        window.addEventListener('DOMContentLoaded', () => {
            let center_coords = [{{ center_coords.lng }}, {{ center_coords.lat }}];
            window.run(mapboxgl, center_coords);
        });
    </script>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'/>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<div id='map'></div>
</body>
</html>